includes:
	- ../vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-baseline.neon

parameters:
	phpVersion: 80300
	level: 9
	paths:
		- ../src
		- ../demo
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: missingType.iterableValue